:root {
    /*BACKGROUND*/
    --bg-color-body: #111;
    --bg-color-container: #242323;

    /*TEXT COLOR*/
    --letter-color: rgb(255, 255, 255);

    /*BUTTON*/
    --bg-button-color: white;
    --letter-button-color: black;
    --button-hover-color: white;
}

[data-theme="light"] {
    /*BACKGROUND*/
    --bg-color-body: #edeaea;
    --bg-color-container: #d6d4d4;
    --letter-color: black;

    /*BUTTON*/
    --bg-button-color: black;
    --letter-button-color: white;    
    --button-hover-color: black;
}

